
.header {
    padding: 10px 0px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #ffff;
    width: 100%;
}
.header_logo img{

    width: 80px;
    object-fit: contain;

}

.header_up_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 30px;
}

.header_nav {
    display: flex;
    background-color: #000;
    padding: 5px 41px 7px;
}
.header_nav a {
    color: #fff;
}
.header_nav a.active {

  /* text-decoration: underline; */
  color: #ffc107;
}


.header_nav li:not(:last-child){
    margin-right: 10%;
}

.cart_wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;

}
.cart {
    cursor: pointer;
    margin-left: 15px;
    position: relative;
}
.cart img {
    width: 22px;
    height: 22px;
    object-fit: contain;
}
.cart>span{
    position: absolute;
    top: 6px;
    left: 8px;
    font-size: 10px;
    color: #000;
}




@media only screen and (max-width: 992px) {


    .header {
        padding: 5px 0 0;
    }

    .header_nav {
        display: flex;
        background-color: #000;
        padding: 5px 31px 7px;
        width: 100vw;
        overflow-x: scroll;
    }

    .header_nav a{
        color: #fff;
        font-size: 16px;
        white-space: nowrap;
    }
    .header_logo {
        width: 60px;
        object-fit: contain;
    }

    .header_header_up_wrapper__Rqx\+y {
    
        padding: 0px 13px;
    }

    .cart {
        margin-left: 0px;
    }

  
    .header_up_wrapper {
    
        padding: 0px 10px;
    }

    .header_logo img {
        width: 60px
    }

    .favourite_box img {
        width: 45px;
    }
}