.favourite_box {
    position: relative;
}
.favourite_box img{
    cursor: pointer;
    width: 55px;
    height: 55px;
    object-fit: contain;
}

.favourite_box>span {
    position: absolute;
    top: 17px;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    font-size: 12px;
    user-select: none;
}
.favourite_data_text {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 10px;
   flex-grow: 1;
}
.favourite_data_text h4 {
    font-size: 13px;
}
.favourite_data_text span {
    color: green;
    margin-top: 5px;
}
.favourite_data_body {
    display: flex;
    margin-bottom: 15px;
    width: 100%;
}

.favourite_data_body img {
    object-fit: cover;
    width: 40%;
    flex: 0 0 40%;
    height: 96px;
    border-radius: 3px;
}

.favourite_data_title {
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 15px;
    border-bottom: 1px solid #00000029;
    padding-bottom: 5px;
}
.favourite_data_container {
    background-color: #fff;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    height: 340px;
    padding: 20px 10px;
    position: absolute;
    right: 0px;
    top: 50px;
    width: 340px;
    z-index: 5;
}


.favourite_data_body_wrapper {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
/* width */
.favourite_data_body_wrapper::-webkit-scrollbar {
    width: 10px;
  }
  
/* Handle */
.favourite_data_body_wrapper::-webkit-scrollbar-track {
    
    background: #000; 
  }
   
  /* Handle */
  .favourite_data_body_wrapper::-webkit-scrollbar-thumb {
    background: #ffc107; 
    border-radius: 2px;
  }
  

  .favError {
    font-size: 17px;
    color: red;
    text-align: center;
    margin-top: 18%;
  }


@media only screen and (max-width: 992px) {
    .favourite_box img {
        width: 45px;
    }
}

.remove {


    color: red;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;

}