*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Oswaldbold';
}

@font-face {
  font-family: 'Signika';
  src: url('./assets/fonts/Signika-Light.woff2') format('woff2'),
      url('./assets/fonts/Signika-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Oswaldbold';
  src: url('./assets/fonts/Oswald-SemiBold.woff2') format('woff2'),
      url('./assets/fonts/Oswald-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  padding-top: 130px;
}


@media only screen and (max-width: 992px) {
  body {
    padding-top: 110px;
  }
  
}

p {
  font-family: 'Signika';
}